# Ignore virtual environment
venv/

# Ignore large datasets
data/

# Ignore model outputs
models/simple_cnn.pth
models/9layer_cnn.pth
*.pt
*.zip

# Python cache
__pycache__/
*.pyc

# VS Code local venvs
.venv/

# Ignore folder
data/
ignore/