# Ignore virtual environment
venv/

# Ignore large datasets
data/

# Ignore model outputs
models/
*.pt
*.zip

# Python cache
__pycache__/
*.pyc

# VS Code local venvs
.venv/

# Ignore folder
data/
ignore/